<?xml version='1.0' encoding='utf-8'?>
<widget id="com.inkwell.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Inkwell</name>
    <description>
        A small social platform for writers: publish stories, get likes and
        comments, add friends, and chat in real time. Runs entirely on-device.
    </description>
    <author email="you@example.com" href="https://example.com">
        Inkwell
    </author>
    <content src="index.html" />

    <!-- The Express server only ever talks to itself on localhost, but we
         open this up broadly since the WebView, the Node engine, and
         Socket.io all need to communicate freely on-device. -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="Orientation" value="default" />

    <platform name="android">
        <allow-navigation href="http://localhost:*/*" />
        <allow-navigation href="ws://localhost:*/*" />

        <!-- Local server traffic is plain HTTP on localhost, so Android's
             default HTTPS-only policy needs to be relaxed for this app. -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:usesCleartextTraffic="true" />
        </edit-config>

        <icon density="ldpi" src="www/nodejs-project/public/icons/icon-72.png" />
        <icon density="mdpi" src="www/nodejs-project/public/icons/icon-96.png" />
        <icon density="hdpi" src="www/nodejs-project/public/icons/icon-144.png" />
        <icon density="xhdpi" src="www/nodejs-project/public/icons/icon-192.png" />
        <icon density="xxhdpi" src="www/nodejs-project/public/icons/icon-384.png" />
        <icon density="xxxhdpi" src="www/nodejs-project/public/icons/icon-512.png" />
    </platform>

    <plugin name="cordova-plugin-whitelist" spec="^1.3.5" />
    <plugin name="nodejs-mobile-cordova" spec="^0.4.3" />
</widget>
